.app {
  background-color: green;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sws {
  margin-top: 52px;
  flex: 1;
  display: flex;
  justify-content: stretch;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
}

.snv {
  background-color: turquoise;
  flex: 0 0 52px;
}

.sinv {
  background-color: yellowgreen;
  height: calc(100vh - 52px);
}

.stb {
  background-color: brown;
  flex: 0 0 62px;
}

.scv {
  background-color: bisque;
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 52px);
}

.sart {
  background-color: hotpink;
  width: 300px;
  height: 1000px;
}

.ws {
  margin-top: 52px;
  background-color: white;
  display: flex;
  justify-content: stretch;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
}

.ca {
  background-color: #c4c4c4;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 52px);
  position: relative;
}

.si {
  background-color: white;
  overflow: hidden;
}

.sb {
  height: calc(100vh - 52px);
  display: flex;
  flex-direction: column;
  position: relative;
}

.sbtb {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
}

.sblt {
  background-color: #f5f5f5;
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.sbov {
  position: absolute;
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  overflow-y: auto;
  /*
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  */
}

.sbsec {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  padding: 20px;
}

.lo {
  width: 100%;
}

.ls {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.ll {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

/*  */
.fxr {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}


/* Toolbar */

.tb {
  padding-top: 36px;
  width: 62px;
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tbc {
  width: 100%;
}

.tbic {
  height: 62px;
  outline: none;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
  background-color: #f5f5f5;
}

.tbic:focus {
  outline: none;
}

.tbic:active {
  outline: none;
}

.active,
.tbic:hover {
  background-color: #e5e5e5;
}

/* Sidebar */

.sta {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
  white-space: nowrap;
}

.sta li {
  display: inline;
}

.sta button {
  outline: none;
  border: 0;
  padding: 12px 20px;
  margin: 0;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: transparent;
  font-size: 13px;
  font-weight: bold;
}

.sta .active {
  background-color: #f5f5f5;
}

/* Inventory */

.inca {
  margin: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  width: 115px;
  text-align: center;
  cursor: pointer;
  background-color: white;
}

.inca img {
  margin: 5px;
  width: 75px;
  height: 75px;
}

.incaf {
  background-color: #f5f5f5;
  font-size: 10px;
  padding: 8px;
}

/* Artboard */

.abs {
  background-color: white;
}

/* Size */
.szw {
  position: absolute;
  top: 72px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.sz {
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}

.sz input {
  margin-left: 5px;
  border: 0;
  outline: none;
  width: 50px;
}

/* Tools */

.tls {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

.tll {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  z-index: 91;
}

.tlspl {
  background-color: white;
  font-size: 12px;
  padding: 8px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-left: 0.5rem;
}

.tlsplp {
  background-color: #ff5e6d;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-left: 0.5rem;
}

.tlic {
  width: 12px;
  height: 12px;
}

.upi {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* Modal */

.mdw {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 456;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.mdcic {
  position: absolute;
  top: 20px;
  right: 20px;
}

.mdco {
  position: relative;
  background-color: white;
  min-width: 300px;
}

.mdfm {
  width: auto;
  margin-top: 30px;
  padding: 20px;
}

.mdta {
  min-width: 300px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mdcp {
  position: absolute;
  bottom: 35px;
  right: 35px;
}

.mdcpb {
  color:white;
  background-color: #6c757d;
  border: 0;
  border-radius: 12px;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.mdcpb:active {
  color:#6c757d;
  background-color: #eee;
  pointer-events: none;
}



.infbl {
  pointer-events: none;
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.selbg {
  background-color: #eee;
}